.b-post {
	background-color: #333;
	padding: 5px;
	color: #fff;

	&__header {
		display: flex;
	
		&-image {
			width: 50px;
			height: 50px;
			margin-right: 5px;
		}
		
		&-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		
		&-title {
			font-size: 25px;
		}
	}
	
	&__content {
		margin: 5px 0;
	}
	
	&__content p {
		margin: 5px 0;
	}
}
